

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	#rounded-countdown{ width: 100%; margin-left: 0px}
	
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	#rounded-countdown{ width: 60%; margin-left: 260px;}
	
	.main-area{ position: relative; height: 200vh; }


	/* ---------------------------------
	3. LEFT SECTION
	--------------------------------- */

	.left-section{ float: none; width: 100%; height: 50%; }
	
	.left-section .main-content{ padding: 40px 0; }
	
	.main-content .email-input-area{ width: 100%; }
	
	.main-content .email-input-area .email-input{ padding: 0 115px 0 20px; }
	
	.main-content .email-input-area .submit-btn{ width: 100px; } 
	
	.left-section .footer-icons > li > a > i{ height: 30px; line-height: 28px; width: 30px; }
	
	
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	.right-section{ top: 50%; bottom: auto; width: 120%; height: 50%; }

	.date-countdown{ width: 100%; }
	
	.date-countdown .time_circles > div > h4{ font-size: .7em!important; }

}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */
	#rounded-countdown{ width: 50%; margin-left: 455px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 130%; height: 50%; }

	p{ line-height: 1.4; }

	h1{ font-size: 2.8em; line-height: 1; }
	h2{ font-size: 2.2em; line-height: 1.1; }
	h3{ font-size: 1.8em; }
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 540px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 15px;  }

	
	#rounded-countdown{ width: 55%; margin-left: 305px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 130%; height: 50%; }

}

@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 12px;  }

	
	#rounded-countdown{ width: 60%; margin-left: 260px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 130%; height: 50%; }

}

@media only screen and (max-width: 414px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 12px;  }

	
	#rounded-countdown{ width: 50%; margin-left: 290px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 130%; height: 50%; }

}
/* Screens Resolution : 329px up
-------------------------------------------------------------------------- */

@media only screen and (max-width: 360px) {
	
	#rounded-countdown{ width: 50%;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 110%; height: 50%; }
	
}
@media only screen and (max-width: 411px) {
	
	#rounded-countdown{ width: 50%; margin-left: 280px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 130%; height: 50%; }
	
}
@media only screen and (max-width: 375px) {
	
	#rounded-countdown{ width: 50%; margin-left: 265px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 140%; height: 50%; }
	
}
@media only screen and (max-width: 320px) {
	
	#rounded-countdown{ width: 65%; margin-left: 200px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 140%; height: 50%; }
	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 280px) {
	
	#rounded-countdown{ width: 70%; margin-left: 130px;}
	
	.main-area{ position: relative; height: 200vh; }

	.right-section{ top: 50%; bottom: auto; width: 150%; height: 50%; }


}