.hiddenCard{
	display: none;
}

.plus {
    cursor: pointer;
    vertical-align: top;
    color: white;
	padding: 0px 15px;
    width: 30px;
    height: 20px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.minus {
    cursor: pointer;
    vertical-align: top;
    color: white;
    padding: 0px 15px;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}

         